
@import '_variables';



.image {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    height: 200px;
    width: 200px;
    background: var(--background);
    border: 0.25rem solid var(--background);
    border-radius: 50%;

    @media screen and (max-width: $l-break) {
        height: 100px;
        width: 100px;
    }
}

.header-details {
    margin-right: 5px;
    font-weight: 300;
    text-align: right;
}

.name {
    font-size: 2rem;
    
    @media screen and (max-width: $l-break) {
        font-size: 1.8rem;
    }

    @media screen and (max-width: $s-break) {
            font-size: 1.3rem;
    }
}
