

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "header bio";
    height: 100%;
    width: 100%;

    @media screen and (max-width: 1060px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "header" "bio";
    }
}

.header {
    color: var(--bio-text);
    grid-area: header;
    background-color: var(--accent);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
}

.header-content {
    height: 100vh;
    flex-direction: column;
    display: flex;
    flex: 1;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;
    margin-right: 2rem;

    @media screen and (max-width: 1060px) {
        flex-direction: row-reverse;
        height: auto;
        align-items: center;
        margin: 1.5rem 1rem;
    }
}

.bio {
    grid-area: bio;
    background: var(--background);
    color: var(--text);
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: 300;
    overflow-y: auto;

    @media screen and (max-width: 1060px) {
        overflow-y: visible;
    }
}

.bio-content {
    max-width: 50rem;
}