
@media print {
    @page {
        margin: 0;
        size: 21.0cm 29.7cm;
    }

    .name {
        font-size: 1.5rem;
    }

    .grid-container {
        grid-template-columns: auto 1fr;
    }

    .header {
        padding-left: 2rem;
    }

    .image {
        height: 135px;
        width: 135px;

        border-width: 4px;
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }

    a[href]:after {
        content: none !important;
    }

    .header {
        background: var(--accent) !important;
        -webkit-print-color-adjust: exact;
    }

    .bio {
        background: var(--background) !important;
        -webkit-print-color-adjust: exact;
        padding-left: 2rem;
        padding-right: 2.5rem;

        display: flex;
        align-items: center;
        padding-top: 0;
    }

    .bio-content {
        width: 100%;
    }

    .about-me {
        margin-top: 1rem;
        max-width: 18rem;
        padding-left: 1rem;
        /*padding-bottom: 4rem;*/
    }

    html {
        font-size: 11.5pt;
    }

    .skill-container-grid {
        column-gap: 1.5rem;
    }

    .skill-grid {
        font-size: 10.5pt;
        grid-template-columns: 8rem 1fr;
        column-gap: 0.5rem;

        img {
            transform: scale(0.85);
        }
    }
 }
 
 
@media print and (prefers-color-scheme: light) {
   .header {
       background: var(--background) !important;
       color: var(--text) !important;
       -webkit-print-color-adjust: exact;
       border-right: 3px solid var(--accent);
   }

   .image {
       border-color: var(--accent);
       background: var(--accent);
   }
}